/*
 Theme Name:    Electro Child
 Theme URI:     https://themeforest.net/item/electro-electronics-store-woocommerce-theme/15720624
 Description:   This is the child theme of Electro
 Author:        MadrasThemes
 Author URI:    https://madrasthemes.com/
 Template:      electro
 Version:       2.3.3
 License:       GNU General Public License v2 or later
 License URI:   http://www.gnu.org/licenses/gpl-2.0.html
 Tags:          light, dark, two-columns, right-sidebar, responsive-layout
 Text Domain:   electro-child
*/



/** Header  **/
header#masthead.site-header.header-v3.stick-this div.container.hidden-lg-down div.masthead{
    margin: 0 -250px 5px -250px ;
    padding: 20px 250px 20px  250px;
}

/** Cambiando el color del icon serch en el nav search **/

div.masthead form.navbar-search div.input-group div.input-group-btn button.btn.btn-secondary {
    background-color: #333;
}

/** Modificnado los iconos del header**/

div.masthead div.header-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-column-gap: 15px;
}

div.masthead div.header-icons>div{
    display: inline-block;
    margin-left: 5px;
}



 header#masthead.site-header.header-v3.stick-this div.container.hidden-lg-down div.masthead div.header-icons a{
     color:  white;

 }



div.masthead div.header-icons span{
    font-size: 17px;
    font-family: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 600;
    letter-spacing: 1;
    margin-left: 5px;
    
}


/** Menu secundario  (nav principal)**/ 
header#masthead.site-header.header-v3.stick-this div.container.hidden-lg-down div.electro-navigation div.secondary-nav-menu.electro-animate-dropdown{
    margin-right: -250px;
}

/** último hijo del nav principal **/
#menu-item-16016{
    padding-right: 250px;
}


/** Primer hijo del nav principal  **/ 
header#masthead.site-header.header-v3.stick-this div.container.hidden-lg-down div.electro-navigation div.departments-menu-v2 div.dropdown a.departments-menu-v2-title{
    margin-left: -250px;
    padding: 0 0 0 250px;
     
}

 header#masthead.site-header.header-v3.stick-this div.container.hidden-lg-down div.electro-navigation div.departments-menu-v2 div.dropdown a.departments-menu-v2-title>span:hover{
    color:#05ffdc;
    transition: 750ms;
 }



/** Caja de las categorias principales del menu desplegable **/

 #menu-menu-de-categorias{
     box-shadow: none;
 }



/** Categorias principales del menu desplegable **/
 #menu-item-11507>ul{
     box-shadow: none;   
 }

 #menu-item-11431>ul{
     box-shadow: none;
 }

#menu-item-15815>ul{
    box-shadow: none;
}

 #menu-item-15816>ul{
     box-shadow: none;
 }

 #menu-item-15817>ul{
     box-shadow: none;
 }

 #menu-item-15822>ul{
     box-shadow: none;
 }
